<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dungzi.zipbogo" version="1" android-versionCode="1" xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0">
    <name>집보고</name>
    <description>	
        집보고
    </description>
    <author email="webplug@gmail.com" href="http://www.dungzi.com/">
        Dungzi Team
    </author>
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="android-minSdkVersion" value="15" />
	<preference name="fullscreen" value="true" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm"  />
	
	<allow-navigation href="*" />
	<icon src="icon.png" />
	<content src="index.html" />
	<access origin="*" />
</widget>